<nav>
    <div class = "job-group flex c">
        <div class = "flex r">
            <a href = "#" class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Cleaning</p>
            </a>
            <a href = "#" class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Moving</p>
            </a>
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Handyman</p>
            </a>
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Electrical</p>
            </a>
        </div>
        <div class = "flex r">
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Locksmith</p>
            </a>
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Plumbing</p>
            </a>
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Washing</p>
            </a>
            <a class = "flex c mid-align">
                <div class = "icon"></div>
                <p>Courier</p>
            </a>
        </div>
    </div>
</nav>