<div id = "mobile" class = "flex c mid-align">
    <div class = "login flex c mid-align">
        <div class = "logo"></div>
        <form action = "#">
            <div id = "login-form" class = "flex c">
                <div class = "form-control flex">
                    <label for = "user">Username :</label>
                    <input id = "user" type = "text" placeholder = "Username">
                </div>
                <div class = "form-control flex">
                    <label for = "pass">Password :</label>
                    <input id = "pass" type = "password" placeholder = "Password">
                </div>
                <div class = "help flex r">
                    <a href = "/reset">Forgot password?</a>
                    <p>|</p>
                    <a href = "/register">Sign up</a>
                </div>
                <input type = "submit" value = "Log in">
            </div>
        </form>
    </div>
</div>