<div id = "mobile" class = "flex c mid-align">
    <div class = "login flex c mid-align">
        <div class = "logo"></div>
        <form action = "/login">
            <div id = "signup-form" class = "flex c">
                <div class = "form-control flex">
                    <label for = "user">Username :</label>
                    <input id = "user" type = "text" placeholder = "Username">
                </div>
                <div class = "form-control flex">
                    <label for = "pass">Password :</label>
                    <input id = "pass" type = "password" placeholder = "Password">
                </div>
                <!--
                <div class = "form-control flex">
                    <label for = "email">Email :</label>
                    <input id = "email" type = "text" placeholder = "Email address">
                </div>
                -->
                <input type = "submit" value = "Sign up">
            </div>
        </form>
    </div>
</div>