<div id = "mobile" class = "flex c mid-align">
    <div class = "role flex c mid-align">
        <div class = "logo"></div>
        <h1>Are you looking for or offering services?</h1>
        <p>You can always change this setting later on.</p>
        <nav>
            <a href = "/login" class = "box">Consumer</a>
            <a href = "/login" class = "box">Service Provider</a>
        </nav>
    </div>
</div>